body {
    background: linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 9, 1) 19%, rgba(255, 0, 140, 1) 100%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    animation: animate 10s ease infinite;
}

h1 {
    width: 100%;
    display: inline-block;
    color: white;
    text-align: center;
}

.btn {
    color: white;
    background: none;
    padding: 7px 12px;
    background-color: rgb(24, 180, 252);
    border: 0.4px solid white;
    border-radius: 0.2em;
    transition: all 0.2s ease-in;
    margin-top: 2rem;
}

.btn:hover {
    color: rgb(185, 189, 192);
    background-color: rgb(20, 133, 185);
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.my-form {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
}


label {
    color: white;
}

input:not(:last-of-type) {
    color: white;
    background: none;
    border: 2px solid white;
    height: 1.6rem;
    width: 100%;
}

@keyframes animate {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}